.col-2 {
	background-color: #ffffe0;
}
.title {
	position: absolute;
	top: 40%;
	text-align: center;

}
h3{
	text-align: center;
}
.col-8{

}
.data{
	position: absolute;
	top: 9%;
}
.ref{
	background-color: #f4a742;
} 
